 #main-nav {
     position: fixed;
     top: 50%;
     left: 20px;
     max-width: 20px;
     z-index: 1000;
     transform: translate(0, -50%);
 }

 #main-nav>a {
     margin-bottom: calc(var(--procentGrootte) * 10px);
     padding: calc(var(--procentGrootte) * 20px) calc(var(--procentGrootte) * 20px) calc(var(--procentGrootte) * 20px) calc(var(--procentGrootte) * 50px);
     border-radius: calc(var(--procentGrootte) * 20px);
     width: calc(var(--procentGrootte) * 20px);

     font-size: calc(var(--procentGrootte) * 1.5m);
     color: rgba(255, 255, 255, 0);
     text-decoration: none;
     font-weight: bold;

     display: inline-block;
 }

 #main-nav>a:hover {
     padding: calc(var(--procentGrootte) * 20px);
     width: auto;
     color: rgba(255, 255, 255, 1);
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
 }